<header>
  <a href="/" tabindex="0">
    <h1>Minor Web Enquete</h1>
  </a>
</header>

<section id="progressSection">
  <p>Algmene voortgang</p>
  <div id="myProgress">
    <div id="myBar"></div>
  </div>
</section>
