<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/messages.css" />
    <link rel="stylesheet" href="/css/progress.css" />
    <link
      rel="shortcut icon"
      href="/images/icons/favicon.ico"
      type="image/png"
    />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <main>
      <ul></ul>

      <form action="/course" method="POST" autocomplete="on">
        <label for="nameStudent"
          >Naam student:
          <input
            type="text"
            name="studentName"
            id="nameStudent"
            autocomplete="on"
            required
          />
          <p id="error_name" class="inlog_failed">Error here</p>
        </label>
        <label for="studentNumber"
          >Studentnummer:
          <input
            type="text"
            name="studentNr"
            id="studentNumber"
            minlength="9"
            maxlength="9"
            placeholder="9 karakters"
            required
          />
          <p id="error_number" class="inlog_failed">Error here</p>
        </label>
        <input type="hidden" name="page" value="1" />
        <input type="submit" value="Inloggen" />
      </form>
    </main>

    <script src="/js/validate.js"></script>
  </body>
</html>
