<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <main>
      <p>Pagina 1/4</p>

      <form action="/course" method="get">
        <label for="nameStudent">Naam student: </label>
        <input
          type="text"
          name="studentName"
          id="nameStudent"
          autocomplete="on"
          required
        />
        <label for="studentNumber">Studentnummer: </label>
        <input
          type="text"
          name="studentNr"
          id="studentNumber"
          minlength="9"
          maxlength="9"
          required
        />
        <input type="submit" value="Volgende" />
      </form>
    </main>
  </body>
</html>
