<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/messages.css" />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <main>
      <p>Pagina 1/3</p>

      <ul></ul>

      <form action="/course" method="POST" autocomplete="on">
        <label for="nameStudent">Naam student: </label>
        <input
          type="text"
          name="studentName"
          id="nameStudent"
          autocomplete="on"
          required
        />
        <label for="studentNumber">Studentnummer: </label>
        <input
          type="text"
          name="studentNr"
          id="studentNumber"
          minlength="9"
          maxlength="9"
          placeholder="9 karakters"
          required
        />
        <input type="hidden" name="page" value="1" />
        <input type="submit" value="Inloggen" />
      </form>
    </main>

    <script src="/js/validate.js"></script>
  </body>
</html>
