<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <main>
      <h2>Welkom</h2>

      <p>Vul de enquete in voor de volgende vakken</p>

      <ul>
        <li><a href="/course/css">CSS to the Rescue</a></li>
        <li><a href="/course/wafs">Web App From Scratch</a></li>
        <li><a href="/course/pwa">Progressive Web Apps</a></li>
        <li><a href="/course/btech">Browser Technologies</a></li>
        <li><a href="/course/realtime">Real-Time Web</a></li>
        <li><a href="/course/hcd">Human Centered Design</a></li>
      </ul>

      <p>Afgerond</p>
      <ul>
        <% finishedSurvey.forEach(finished => { %>
        <li><%- finished.chosenCourse %></li>
        <% }); %>
      </ul>

      <!-- <li><a href="">CSS to the Rescue </a></li> -->
    </main>
  </body>
</html>
