<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <main>
      <p>Pagina 2/3</p>

      <form action="/successpage" method="post">
        <label for="course">Vak:</label>

        <select name="chosenCourse" id="course">
          <option value="CSS To The Rescue">CSS To The Rescue</option>
          <option value="Web Apps From Scratch">Web Apps From Scratch</option>
          <option value="Progressive Web Apps">Progressive Web Apps</option>
          <option value="Browser Technologies">Browser Technologies</option>
          <option value="Real-Time Web" selected>Real-Time Web</option>
          <option value="Human Centered Design">Human Centered Design</option>
        </select>

        <p>Docent(en)</p>
        <input
          type="checkbox"
          id="teacher1"
          name="chosenTeacher"
          value="Koop Reynders"
        />
        <label for="teacher1"> Koop Reynders</label><br />
        <input
          type="checkbox"
          id="teacher2"
          name="chosenTeacher"
          value="Peter Paul Koch"
        />
        <label for="teacher2"> Peter Paul Koch</label><br />
        <input
          type="checkbox"
          id="teacher3"
          name="chosenTeacher"
          value="Joost Faber"
        />
        <label for="teacher3"> Joost Faber</label><br />
        <input
          type="checkbox"
          id="teacher4"
          name="chosenTeacher"
          value="Vasilis van Gemert"
        />
        <label for="teacher4"> Vasilis van Gemert</label><br />
        <input
          type="checkbox"
          id="teacher5"
          name="chosenTeacher"
          value="Sanne 't Hooft"
        />
        <label for="teacher5"> Sanne 't Hooft</label><br />

        <p>Perioden:</p>
        <input type="radio" id="week1" name="week" value="Week 5" />
        <label for="week1">Week 5 - 9</label><br />
        <input type="radio" id="week2" name="week" value="Week 10" />
        <label for="week2">Week 10 - 14</label><br />
        <input type="radio" id="week3" name="week" value="Week 15" />
        <label for="week3">Week 15 - 19</label><br />
        <input type="radio" id="week4" name="week" value="Week 20" />
        <label for="week4">Week 20 - 24</label><br /><br />

        <label for="difficulty">Lesstof (hoe moeilijk is het):</label>
        <select name="rateDifficulty" id="difficulty">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option></select
        ><br />

        <label for="explanation">
          Uitleg (hoe duidelijk is het uitgelegd):
        </label>
        <select name="rateExplanation" id="explanation">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <br />
        <label for="learned">Eigen inzicht (hoe goed snap je het):</label>
        <select name="rateLearning" id="learned">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option></select
        ><br /><br />

        <input type="hidden" name="page" value="2" />
        <input type="hidden" name="studentName" value="<%- studentName %>" />
        <input type="hidden" name="studentNumber" value="<%- studentNr %>" />
        <input type="submit" value="Opslaan" />
      </form>

      <p>Let op! Alles op de pagina invullen voor bewaren.</p>
    </main>
  </body>
</html>
