<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/messages.css" />
    <title>Minor Web Enquete</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <main>
      <picture>
        <!-- <source
          srcset="https://media.giphy.com/media/l31QlrdXbkIssW3M1s/giphy.gif"
          type="image/webp"
        /> -->
        <img src="https://media.giphy.com/media/l31QlrdXbkIssW3M1s/giphy.gif" />
      </picture>

      <h2>Opgeslagen!</h2>

      <p id="opgeslagenVak">Vak: <%- opgeslagenVak %></p>

      <p>Meteen verder met de enquete?</p>

      <ul>
        <li><a href="/course/css">CSS to the Rescue</a></li>
        <li><a href="/course/wafs">Web App From Scratch</a></li>
        <li><a href="/course/pwa">Progressive Web Apps</a></li>
        <li><a href="/course/btech">Browser Technologies</a></li>
        <li><a href="/course/realtime">Real-Time Web</a></li>
        <li><a href="/course/hcd">Human Centered Design</a></li>
      </ul>
    </main>
  </body>
</html>
