.inlog_failed {
  color: var(--error_message);
}

#opgeslagenVak {
  color: green;
}

#error_name {
  display: none;
}

#error_number {
  display: none;
}

#difficultyError {
  color: var(--error_message);
  display: none;
}
#explanationError {
  color: var(--error_message);
  display: none;
}
#learnedError {
  color: var(--error_message);
  display: none;
}
#errorPar {
  padding-top: 1em;
  color: var(--error_message);
}

#error_block {
  margin: 1em 0;
}
