.inlog_failed {
  color: red;
}

#opgeslagenVak {
  color: green;
}

#error_name {
  display: none;
}

#error_number {
  display: none;
}

#difficultyError {
  color: red;
  display: none;
}
#explanationError {
  color: red;
  display: none;
}
#learnedError {
  color: red;
  display: none;
}
#errorPar {
  color: red;
}

input[type="text"]:focus {
  border-bottom-color: green;
  /* border-bottom-color: #1b60db; */
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}
