.pendingSurveys {
  margin-bottom: 0.3em;
}

.noStart {
  margin-bottom: 1.5em;
}

br {
  margin-bottom: 1em;
}

@media screen and (min-width: 500px) {
  br {
    margin-bottom: 0;
  }
  .noStart {
    margin-bottom: 0.3em;
  }
}
