/* ------ progress bar ------ */

#myProgress {
  width: 30%;
  margin-top: 1em;
  background-color: grey;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: green;
}

#progressSection {
  display: none;
  padding: 0 1em;
}

#progressSectionFunc {
  padding: 0 1em;
}

/* ------ progress bar ------ */
