.finishedSurveys {
  color: green;
}

.pendingSurveys a {
  color: gray;
}

.surveyError {
  color: red;
  list-style: none;
}

li {
  list-style: none;
}

#toDoSurveys {
  margin-bottom: 0;
}

#finishedSurveys {
  margin-top: 0;
}

#toDoTitle {
  display: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 0.5em;
}

#pageTitle {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin-bottom: 1em;
}

#afgerondTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 1.5em 0 1em;
}
